article {
    width:55%;
    background-image: url("../images/ardoise.png");
    background-size: 100% 100%;
    padding: 5rem 0 5rem 4rem;
    margin: 0 auto ;
    height: 27rem;
}
section{
    height:53rem;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    padding-bottom: 3rem;
}
h3 {
    text-decoration: underline;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.response {
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
}
.tableread {
    height:100%;
    overflow:scroll;
    overflow-x:hidden;
    padding-right: 4rem ;
}
.green {
    color:lime;
}
.red {
    color:darkred;
}
.console {
    background-color: black;
    border: 7px solid gray;
    width:400px;
    height:12rem;
    margin:0 auto;
    padding:1rem 0 1rem 1rem;
    color:white;
    font-family: Arial;
    font-size:0.8rem;
}
.script {
    overflow:scroll;
    overflow-x:hidden;
    height:100%;
}
.console h3 {
    color: green;
    font-size: 0.8rem;
    text-decoration: none;
    padding-bottom: 1rem;
}
.console h3 span {
    color: purple;
}
section>p+p {
   width: 6rem;
    margin: 0 auto;
}
#showme {
    font-weight: bold;
    border: 4px solid black;
}
#showme:hover {
    color:white;
    background-color:teal;
}
#hideme {
    float: right;
    margin-top: -1.4rem;
    font-weight: bold;
}
#hideme:hover {
    color:white;
    background-color: black;
}
